<div class='d-flex justify-content-between'>
  <h3>Projects</h3>
  <div>
    <div class='btn-group btn-group-sm' role='group'>
      <LinkTo
        @query={{hash type=undefined}}
        class='btn btn-outline-secondary'
        role='button'
      >All</LinkTo>
      <LinkTo
        @query={{hash type='original'}}
        class='btn btn-outline-secondary'
        role='button'
      >Originals</LinkTo>
      <LinkTo
        @query={{hash type='fork'}}
        class='btn btn-outline-secondary'
        role='button'
      >Forks</LinkTo>
    </div>
  </div>
</div>

<Repositories @repositories={{this.repositories}} />

<a
  class='btn btn-outline-primary'
  href='https://github.com/charlesfries'
  role='button'
>
  More on GitHub
</a>

{{outlet}}