<div class='d-flex justify-content-between mb-3'>
  <h3 class='mb-0'>Projects</h3>
  <div>
    <Bs::Toolbar @size='sm' as |toolbar|>
      <toolbar.group class='me-2' as |group|>
        <group.button @onClick={{this.reload}}>
          <FaIcon @icon='redo' />
        </group.button>
      </toolbar.group>
      <toolbar.group class='me-2' as |group|>
        <group.button {{dropdown}}>{{this.sort}}</group.button>
        <Bs::Dropdown>
          <LinkTo @query={{hash sort='created'}} class='dropdown-item'>
            Created Date
          </LinkTo>
          <LinkTo @query={{hash sort='updated'}} class='dropdown-item'>
            Updated Date
          </LinkTo>
          <LinkTo @query={{hash sort='stars'}} class='dropdown-item'>
            Stars
          </LinkTo>
        </Bs::Dropdown>
      </toolbar.group>
      <toolbar.group class='me-2'>
        <LinkTo
          @query={{hash direction='desc'}}
          class='btn btn-outline-secondary'
        >
          <FaIcon @icon='sort-amount-down' />
        </LinkTo>
        <LinkTo
          @query={{hash direction='asc'}}
          class='btn btn-outline-secondary'
        >
          <FaIcon @icon='sort-amount-up' />
        </LinkTo>
      </toolbar.group>
      <toolbar.group>
        <LinkTo
          @query={{hash type=undefined}}
          class='btn btn-outline-secondary'
          role='button'
        >All</LinkTo>
        <LinkTo
          @query={{hash type='sources'}}
          class='btn btn-outline-secondary'
          role='button'
        >Sources</LinkTo>
        <LinkTo
          @query={{hash type='forks'}}
          class='btn btn-outline-secondary'
          role='button'
        >Forks</LinkTo>
      </toolbar.group>
    </Bs::Toolbar>
  </div>
</div>

<Repositories @repositories={{this.repositories}} />

<a
  class='btn btn-outline-primary'
  href='https://github.com/charlesfries'
  role='button'
>
  More on GitHub
</a>

{{outlet}}